@tailwind base;
@tailwind components;
@tailwind utilities;


.button-3 {
  background-color: #fff;
  color: #4b4b4b;
  border-radius: 12px;
  border: 2px solid #e6e6e6;
  box-shadow: 0 2px 0 #e6e6e6;
  cursor: pointer;
  font-family: "OpenRunde", ui-sans-serif, system-ui, -apple-system;
  &:focus {
    outline: none;
  }
}

.button-incorrect {
  background-color: #fff;
  color: #4b4b4b;
  border-radius: 12px;
  border: 2px solid #eb5a53;
  box-shadow: 0 2px 0 #eb5a53;
  background-color: #f9e0df;
  cursor: pointer;
  font-family: "OpenRunde", ui-sans-serif, system-ui, -apple-system;
}

.button-incorrect div {
  border-color: #eb5a53;
  color: #eb5a53;
  opacity: 0.5;
}

.button-correct {
  background-color: #fff;
  color: #4b4b4b;
  border-radius: 12px;
  border: 2px solid #45c858;
  box-shadow: 0 2px 0 #45c858;
  background-color: #e0f9df;
  cursor: pointer;
  font-family: "OpenRunde", ui-sans-serif, system-ui, -apple-system;
}